* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    }

.imgHeader {
    margin-left: 50px;
    width: 40px;
    height: 40px;
}

.background {
    width: 100%; border-spacing: 0; height: 60px;
}

.wrapperHeader {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
 }

.header {
    height: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav {
    margin-right: 50px;
    width: 712px;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    justify-content: space-between;

}

.nav > a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;

}
.nav > a:hover {
    color: #00ACDC;

}

.card {
    height: 403px;
    width: 200px;
    font-weight: 200;
    box-sizing: border-box;
    padding: 30px 15px 15px 15px;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
}

.image {
    display: block;
    margin: 0 auto 45px auto;
    height: 134px;
    width: 160px;
}
.heading {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.ItemCode {
    font-size: 11px;
    margin: 6px 0 15px;
}

.star {
    width: 15px;
    height: 15px;
}

.stars {
    display: flex;
    justify-content: space-between;
    width: 91px;
}

.rewiew {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments {
    font-size: 11px;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: baseline;
}

.price > p {
    font-size: 11px;
}

.price > span {
    font-size: 16px;
    font-weight: bold;
}

.btnBuy {
    background-color: #00ACDC;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid #00ACDC;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 14px;  
    color: white;  
}

.btnBuy:hover {
    background-color: white;
    color: #00ACDC;
}

.containerCard {
    display: flex;
    max-width: 944px;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: space-between;
}